:root{
    --bg: #fafdf6;
    --primaryColor: #000000;
    --secondaryColor: #b279a7;
    --tertiaryColor: #D387AB;
    --color4: #e899dc;
    --textColor: white;
}

html, body, #root{
    height: 100%;
    margin: 0;
}

.App{
    height: 100%;
}

.homepage{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.test{
    background-color: pink;
    flex: 1 1 auto;
}


.unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}