
.jumbotron{
    height: 100%;
    background-color: var(--primaryColor);
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;


    .text-container{
        padding-left: 5%;
    }


    .text-background{
        background-color: white;
        position: relative;
    }

    .back{
        width: 100%;
        height: 100%;
        background-color: red;
    }

    canvas{
        position: absolute;
        width: 100%;
    }

    .large-text{
        
        font-size: 20vmin;
        
        line-height: auto;
        padding-top: 0;

        margin-top: 10vmin; //special one
        
        padding-bottom: 1%;

        background-color: black;
        color: white;
        mix-blend-mode: multiply;

        /*
        background: linear-gradient(to right, #1c87c9 50%, red 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
    }
}

.jumbotron-center{
    height: 100%;
    background-color: var(--primaryColor);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selection-container{
    width: 70%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}