.navbar{
    padding: 1vmin;
    background-color: var(--primaryColor);
    

    display: flex;
    justify-content: flex-end;


    .nav-item{
        padding: 2vmin;
    }

    .logo-text{
        font-size: 3vmin;
        font-weight: 500;
        color: var(--textColor);
    }

    .get-started{

    }

}


