.selection-box{
    min-width: 300px;
    flex: 0 1 40%;
    background-color: white;
    box-shadow: 0 0 10px rgb(94, 94, 94);
    border-radius: 40px;
    cursor: pointer;
    transition: 1s;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: var(--primaryColor);
        font-size: 5vmin;
    }

}

.selection-box:hover{
    transform: translateY(-10%);
    box-shadow: 0 0 40px rgb(94, 94, 94);

}