.test-node-enter{
    opacity: 0;
    transform: translateY(50%);
}

.test-node-enter-active{
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 1s, transform 1s;
}

.test-node-exit{
    opacity: 1;
    transform: translateY(0%);
}

.test-node-exit-active{
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s, transform 1s;
}


.side-node-enter{
    opacity: 0;
    transform: translateX(50%);
}
.side-node-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: transform 1s, opacity 1s;
}
.side-node-exit{
    opacity: 1;
    transform: translateX(0%);
}
.side-node-exit-active{
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 1s, opacity 1s;
}

