@font-face {
  font-family: "Exil";
  src: local("Exil"),
    url("./fonts/exil.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Exil;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
