:root{/*
    --bg: #fafdf6;*/
    --bg: #000000;
    --primaryColor: #fafdf6;
    --secondaryColor: #b279a7;
    --tertiaryColor: #D387AB;
    --color4: #e899dc;
    --textColor: white;
}

@font-face {
    font-family: "Exil";
    src: local("Exil"),url(../fonts/exil.ttf) format("truetype");
    font-weight: normal;
}


html, body, #root { 
    height: 100%; width: 100%; margin: 0; 
    font-family: Exil;
    color: var(--textColor);
}

.standard-background{
    background-color: var(--bg);
}

.main-container{
    display: flex;
    flex-direction: column;
}




.navbar{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar__bar{
    padding-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav-item.left{
    margin-left: auto;
    padding-right: 2%;
}
.nav-text{
    font-size: 4vmin;
}


.jumbotron{
    display: grid;
    place-items: center start;
}

.logo-container{
    margin: 5%;
}



.content{
    background-color: none;
}



.full-screen{
    width: 100%;
    height: 100%;
}


.unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a{
    color: inherit;
    text-decoration: none;
}