.project-form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    flex-grow: 1;
    flex-basis: 50%;
    background-color: none;
    margin: 10vmin;
}

.form{
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-box{
    padding: 2%;
}


.input{
    padding: 1%;
    width: 30%;
    font-size: 5vmin;
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: inherit;
    text-align: center;
    transition: transform 1s, box-shadow 1s, font-size 1s ;
}

.input:focus{
    transform: scale(1.25);
    -webkit-box-shadow: 2px 0px 15px 9px rgba(158,158,158,0.49); 
    box-shadow: 2px 0px 15px 9px rgba(158,158,158,0.49);
}

.input-submit{

}

.btn{
    font-family: inherit;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--textColor);
    padding: 1%;
    --btn-width: 20vmin;
    --btn-scale: 2;
    width: var(--btn-width);
    color: var(--textColor);
    font-size: 5vmin;
    transition: width 1s, background-color 1s linear, color 1s ease;
}

.btn:hover, .btn:focus{
    width: calc(var(--btn-width) * var(--btn-scale));
    background-color: var(--textColor);
    color: var(--bg);
}